*{
  margin: 0%;
  padding: 0%;
}

.navbar{
  height: 60px;
  width: 100%;
  background-color: rgb(18, 18, 44);
  color: white;
}
.navbar ul{
  display: flex;
  margin-left: 50vmax;
  justify-content: space-around;
  padding: 20px;
  cursor: pointer;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
}
.navbar ul li a{
  text-decoration: none;
  font-size: 1.2rem;
  color: rgba(243, 240, 235, 0.852);
}
.navbar ul li a:hover{
  color: rgb(165, 98, 227);
  font-size: 1.3rem;
}
.name{
  font-size: 50px;
  font-weight: bolder;
  color: rgb(152, 65, 234);

}
.self{
  height: 80vmin;
  background-color: #1e1e43;
  color: rgba(245, 245, 245, 0.797);
  display: flex;
  gap: 30vmin;
  padding: 20vmin;
  
}
.self img{
  height: 80vmin;
  width: 45vmin;

 
}
.self2{
  width: 78vmin;
}
.resume{
  height: 4vmin;
  width: 15vmin;
  background-color:rgb(152, 65, 234);
  border-radius: 5px;
  border:none;
  text-align: center;
  margin: 100px 0 auto;
  padding: 5px;

}
.self2 a{
  font-size: 1.5rem;
  color: #f9f3f3;
  
  text-decoration: none;
  
}
.self2 button{
  margin: 70px 0 auto;
}
.self h1{
  font-size: 8vmin;
  color: rgb(255, 255, 255);
}

.self p{
  font-size: 5vmin;
  
}
.about{
  height: 90vmin;
  background-color: #1e1e43;
  display: flex;
  color: azure;
  padding: 10px;
  gap: 5rem;
}
.about img{
  height: 70vmin;
  width: 55vmin;
  margin-left: 30vmin;
  padding: 10px;
}

.about-me{
  width: 100vmin;
  padding: 30px;
  margin-right: 40px;
  gap: 2rem;

}
.about-me p {
  font-size:22px;
  margin: 20px;  
}
.about-me h1{
  font-size:3rem;
  
  color: whitesmoke;
} 
.work{
  height: 95vmin;
  background-color: #1e1e43;
  color: aliceblue;


}
.work-p{
  font-size: 50px;
  font-weight: bold;
  color: whitesmoke;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.workk{
  margin-left: 20vmin;
  padding: 25px;
}
.work-container{
  display: flex;
  flex-wrap: wrap;
  gap:8rem;
  padding: 8vmin;
}
.box img{
  height: 40vh;
  width: 35vh;
  border: none;  
  border-radius: 10px; 
  transition: transform 0.5s;
}
.box img:hover{
  transform: scale(1.1);
}
button{
  height: 5vmin;
  width: 15vmin;
  background-color:rgb(152, 65, 234);
  color: antiquewhite;
  font-size: 1rem;
  border-radius: 5px; 
  border:none;
  margin-top: 20px;
}
.btn{
  margin-left: 98vmin;
  justify-content: center;
 
}
button:hover{
  color: rgba(0, 0, 0, 0.897);
  font-weight: bolder;
  
}
.btn a {
  text-decoration: none;
  color: whitesmoke;
}
.hidden{
  visibility:hidden;
}
.footer{
  height: 60vmin;
  background-color: rgb(18, 18, 44);

}
.contact{
  margin-left: 60px; 
  padding: 60px;
  
}
.layer a{
  size: 50px;
  margin-top: 220px;
}
.cont-p{
  font-size: 50px;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: whitesmoke;
  padding: 20px;
  margin-left: 40px;

}
.text{
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(245, 245, 245);
  padding: 15px;
  margin-left: 100px; 
  
}
.color{
  color: red;
}
.color1{
  color: rgb(30, 212, 30);
}

.text1{
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(245, 245, 245);
  padding: 10px;
  margin-left: 80px;  
  margin-top: 30px;
  
}
.icons{
  font-size: 30px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: whitesmoke;
  padding: 10px;
  margin-left: 80px; 
  margin-top: 30px;
}
.icons a{
  text-decoration: none;
  background: none;
  gap: 10rem;
  color: rgba(197, 196, 196, 0.881);
  margin: 8px;

}
.details a{
  text-decoration: none;
  color: antiquewhite;
  text-align: center;
  padding: 8px;
  margin-left: 45px;  
}
.layer{
  height: 0vh;
  width: 35vh;
  background: linear-gradient(to bottom, #33ccff 0%, #ffffff 78%);
  border-radius: 10px;
  top: 240%;
  bottom: 280%;
  position: absolute;
  opacity: 90%;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  color: black;
  font-size: 15px;
  transition: height 0.5s;
}
.layer  h3 {
  margin-top: 15vmin;
  font-size: 25px;
  font-weight: bolder;
}

.box:hover .layer{
  height: 40vh;
}